.notification {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 150px 300px;
}

.notification-box {
    text-align: center;
    transform: translate(120%, 20%);
    width: 30%;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #F9F5EB;
    border-radius: 15px;
    animation-name: showModal;
    animation-duration: 0.7s;
    position: relative;
}

@keyframes showModal {
    0% {
      opacity: 0;
      top: -30%;
    }
    100% {
      opacity: 1;
      top: 0%;
    }
  }

.modal-close {
    text-align: end;
    font-size: 1.3rem;
    color: #D5B4B4;
    cursor: pointer;
}

.notification-title {
    font-size: 1.3rem;
}

.notification-icon {
    margin-top: 20px;
    color: red;
    font-size: 2rem;
}

.notification-box button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-notification {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-yes {
    background: #867070;
}

.btn-yes:hover {
    box-shadow: #867070 0px 3px 8px;
}

.btn-no {
    background: #D5B4B4;
}

.btn-no:hover {
    box-shadow: #D5B4B4 0px 3px 8px;
}

@media only screen and (max-width: 992px) {
    .notification {
        padding: 150px 50px;
    }
    .notification-box {
        width: 50%;
        transform: translate(50%, 10%);
    }
  }
  
@media only screen and (max-width: 768px) {
    .notification {
        padding: 150px 0px;
    }
    .notification-box {
        width: 70%;
        transform: translate(20%, 10%);
    }
}
