.input-date {
    margin-bottom: 20px;
}

.input-date input{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow) 0px 8px 24px;
    border: 1px solid var(--bg-input);
    padding: 2px 10px;
    font-size: 1.3rem;
    color: var(--gray);
}

.input-date input:focus {
    outline: none;
}