
.add-todo {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid var(--bg-input);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--gray);
}

.todo-list {
    padding: 20px;
    box-shadow: var(--box-shadow) 1px 0px 10px 0px;
    background: var(--white);
    height: 350px;
    overflow-y: scroll;
}

.todo-list::-webkit-scrollbar-track
{
	background-color: var(--bg-color);
}

.todo-list::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--scrollbar);
}

.todo-list::-webkit-scrollbar-thumb
{
	background-color: var(--scrollbar-thumb);
}


.footer {
    padding: 20px;
    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: var(--gray);
    background: var(--white);
}

@media only screen and (max-width: 992px) {
    .footer {
        gap: 10px;
    }
    .filter-item {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:var(--bg-opacity);
    color: var(--white);   
}

.loading-detail {
    border-radius: 15px;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    top: 40%;
    font-weight: bold;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.return {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:var(--bg-opacity);
    padding: 150px 300px;
    color: var(--black);   
}
    
.return-title {
    width: 30%;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 15px;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    top: 20%;
    left: 35%;
    font-weight: bold;
}
    
.return-icon {
    font-size: 4rem;
}
    
.fail {
    color: var(--red);
}

.success {
    color: var(--green);
}

