@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /* background: #F9F5EB; */
}

body {
  margin: auto;
  width: 50%;
  background: #F9F5EB;
}
